* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background:url(./img/background.jpg);
    background-size: cover;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
}

.title {
    font-size: 26px;
}

section {
    padding: 20px;
    background-image: url('./img/people.jpg');
    background-size: cover;
    overflow: hidden;
    /*fez a imagem preencher toda a section  */
}


/*********FORMULARIO********** */
#formContainer {
    max-width: 230px;
    background: #FFFFFFBB;
    padding: 20px;
    float: right;
    border-radius: 5px;
}

.mb {  /***CLASSE PARA DA MARGIN**/
    margin-bottom: 15px;
}

h2 {
    text-transform: uppercase;
    font-size: 16px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    color: white;
    background: #48C5CE;
    font-weight: bold;
    width: 100%;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("./img/arrow.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}
/******* FIM FORMULARIO *******/
footer{
    background:#151616 ;
    padding: 40px;
    text-align: center;
}
.picture{
    width: 160px;
    padding:0 5px;
    border-radius: 10px;
  
   
}
.description{
    display: inline-block;
    text-align: left;
    max-width: 40%;
    color: white;
    margin-left: 35px;
    
}
.description p, .description h3{
    margin-bottom: 20px;
}
.description h3{
    font-size: 24px;
}
.clear{
    max-width: 1000px;
    margin: auto;
}

@media(min-width: 280px) and (max-width: 768px){
    .container{
        padding:0 20px;
    }
    .title {
        font-size: 14px;
    }
    #formContainer{
        max-width: 300px;
    }
    .description{
        display: block;
        max-width: 100%;
        text-align: center;
        margin-left: 0;
    } 
    
    .description p{
        text-align: justify;
    }
    .clear{
        width:calc(100% - 40px) ;
    }

       
}